body {
    background-image:  url("/assets/images/background.png") !important;
    background-repeat: repeat;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

.cp-bg {
    background-image: linear-gradient(to right, #ce66ff, #01a7cd);
    color: white !important;
}

.main-bar {
    font-family: Dank Mono;
}

.hero-section {
    margin-top: 8%;
    background-image: linear-gradient(to right, #ce66ff, #01a7cd);
}

.graphics {
    /* width: auto; */
    height: 250px;
}