body {
    background-image:  url("/assets/images/background.png") !important;
    background-repeat: repeat;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif, Verdana, Geneva, Tahoma;
}

.cp-bg {
    background-image: linear-gradient(to right, #ce66ff, #01a7cd);
    color: white !important;
}

.main-bar {
    font-family: Dank Mono, Arial, Helvetica, Verdana, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-section {
    margin-top: 8%;
    background-image: linear-gradient(to right, #ce66ff, #01a7cd);
}

.graphics {
    /* width: auto; */
}

.header {
    margin-top: 0;
}

@media only screen and (max-width: 300px) {
    .header {
        margin-top: 20%;
    }
    .main-bar {
        margin-left:10px;
    }
}